body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-y:auto;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 20px;
}

.quiz-questions {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .questionNumber{
    padding: 5px 0;
    width: 150px;
    min-width: 150px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: white;
    background-color: #a9d18e;
    border-radius: 5px;
}

.card h2 {
    margin: 10px 0 10px 0;
}

.card .options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card .options label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}